include versioneer.py                                                                                                                                                                                   
include nrn/_version.py               
